@reference "./index.css";

.rqs-trigger {
  @apply flex min-w-0 max-w-72 w-full items-center justify-between outline-none select-none;
  @apply min-h-10 rounded-md border border-border bg-input px-3 py-1 text-base shadow-xs;
  @apply gap-2 transition-all duration-200;
  @apply dark:bg-input/30;
  @apply ring-primary focus:border-primary focus:ring-1;
  @apply aria-invalid:ring-danger dark:aria-invalid:ring-danger aria-invalid:border-danger;
  @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 data-multiple:pl-1 data-[has-value='false']:data-multiple:**:data-[slot="rqs-search-input"]:pl-2;

  &:not([aria-invalid="true"]):not(:focus):hover {
    @apply border-foreground/15;
  }

  &[data-placeholder] {
    @apply text-foreground-placeholder;
  }

  @media (min-width: 768px) {
    @apply text-sm;
  }
}

.rqs-trigger__value {
  @apply flex-1 text-left flex items-center flex-wrap gap-1 min-w-0;
}

.rqs-pill {
  @apply h-[calc(2.5rem-0.5rem-2px)] inline-flex items-center gap-1 rounded-md bg-foreground/10 px-2 text-xs shrink-0;
}

.rqs-pill-remove {
  @apply size-4 inline-flex items-center justify-center rounded-sm hover:bg-foreground/10 cursor-pointer;

  & svg {
    @apply size-3;
  }
}

.rqs-trigger__icon {
  @apply text-foreground-muted size-4 pointer-events-none shrink-0;
}

.rqs-clear {
  @apply size-4 shrink-0 text-foreground-muted cursor-pointer rounded-sm hover:text-foreground;

  & svg {
    @apply size-3.5;
  }
}

.rqs-spinner {
  @apply size-4 animate-spin pointer-events-none shrink-0 mx-auto mb-2;
}

.rqs-content {
  @apply bg-background text-foreground min-w-36 rounded-md shadow-sm ring-1 ring-border;
  @apply relative z-50 overflow-hidden p-0 flex flex-col;
  min-height: 80px;
  max-height: min(240px, var(--radix-popover-content-available-height, 240px));
  transform-origin: var(--radix-popover-content-transform-origin);

  &[data-state="open"] {
    @apply animate-in fade-in-0 slide-in-from-top-1;
  }

  &[data-state="closed"] {
    @apply animate-out fade-out-0 slide-out-to-top-1;
  }
}

.rqs-search {
  @apply flex-1 min-w-8 bg-transparent text-base outline-none;
  @apply placeholder:text-foreground-placeholder;

  @media (min-width: 768px) {
    @apply text-sm;
  }
}

.rqs-scroll-area--padded {
  @apply p-1;
}

.rqs-list {
  @apply flex flex-col gap-1;
}

.rqs-message {
  @apply px-3 py-1 text-center text-sm text-foreground-muted;
}

.rqs-item {
  @apply gap-2 rounded-md h-10 shrink-0 px-3 pr-8 text-base;
  @apply relative flex w-full cursor-default items-center outline-hidden select-none;
  @media (min-width: 768px) {
    @apply text-sm;
  }

  &[data-disabled="true"] {
    @apply pointer-events-none opacity-50;
  }

  &[data-focused]:not([data-disabled="true"]) {
    @apply bg-background-muted;
  }

  &[aria-selected="true"] {
    @apply bg-primary/20;
  }

  &[aria-selected="true"]:hover {
    @apply bg-primary/20 text-foreground;
  }
}

.rqs-item__indicator {
  @apply pointer-events-none absolute right-2 flex size-4 items-center justify-center;
}

.rqs-item__check-icon {
  @apply pointer-events-none size-4;
}
